### 1. 병합된 상권데이터(파생변수 추가)에서 아파트/집객시설에서 데이터 확인 및 처리

#### 01. 라이브러리 임포트 및 상권 데이터 확인

In [1]:
import pandas as pd
%matplotlib inline  
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns 

# 맥 기본 폰트 중 사용
rc('font', family='AppleGothic') 
plt.rcParams['axes.unicode_minus'] = False

In [2]:
df = pd.read_csv('/Users/kimsinwoo/Downloads/20230908_파생변수추가.csv')
df

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,점포수,시간대1,시간대2,시간대3,시간대4,...,토요일_생활인구_수,일요일_생활인구_수,집객시설_수,관공서_수,은행_수,백화점_수,숙박_시설_수,직장인구비율,area,면적당편의점수(10000제곱미터)
0,2020,1,골목상권,2110949,한남IC,6,125163.15020,217164.87910,256343.26370,217222.53660,...,52877,47711,2.0,0.0,0.0,0.0,0.0,0.004244,62126,0.965779
1,2020,1,골목상권,2110951,신사은행나무공원,3,94688.22344,66467.59341,80462.01099,87369.39927,...,74083,66223,2.0,0.0,0.0,0.0,1.0,0.000469,29000,1.034483
2,2020,1,골목상권,2110952,논현목련공원,3,177736.46150,127178.91940,105252.36630,103031.02560,...,32730,33196,2.0,0.0,0.0,0.0,0.0,0.000496,21629,1.387027
3,2020,1,골목상권,2110954,국기원,3,34587.75458,56082.13919,74176.18681,83521.20513,...,82246,63536,3.0,0.0,0.0,0.0,2.0,0.001177,39798,0.753807
4,2020,1,골목상권,2110955,논현초등학교,30,221061.48320,145577.44840,110301.37000,137054.14210,...,386684,388001,10.0,0.0,0.0,0.0,2.0,0.001208,190912,1.571405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,2022,4,골목상권,2110994,개포고등학교,3,99866.93116,247191.90940,194047.29350,154291.71010,...,60895,57580,18.0,1.0,0.0,0.0,0.0,0.001117,61589,0.487100
910,2022,4,발달상권,2120210,선릉역,39,303125.01420,647668.85650,560624.32720,442103.92200,...,553938,475110,150.0,1.0,11.0,0.0,0.0,0.009749,360433,1.082032
911,2022,4,발달상권,2120188,압구정역,16,101724.46200,382494.94160,316498.13110,317926.02040,...,259018,212265,213.0,0.0,14.0,1.0,0.0,0.004434,251745,0.635564
912,2022,4,발달상권,2120186,가로수길,15,155169.26010,270461.51230,252058.40580,247267.85800,...,319185,267477,42.0,2.0,4.0,0.0,0.0,0.002861,256687,0.584369
913,2022,4,발달상권,2120198,구역삼세무서,19,233324.99030,310145.33350,302209.30150,264339.03660,...,219934,218803,33.0,2.0,3.0,0.0,0.0,0.005965,291469,0.651870

In [3]:
df.isnull().sum()

기준_년_코드                0
기준_분기_코드               0
상권_구분_코드_명             0
상권_코드                  0
상권_코드_명                0
점포수                    0
시간대1                   0
시간대2                   0
시간대3                   0
시간대4                   0
시간대5                   0
시간대6                   0
총 상주인구 수               0
총 가구 수                 0
총_직장인구_수               0
아파트_단지_수              68
아파트_가격_1_억_미만_세대_수    68
아파트_가격_1_억_세대_수       68
아파트_가격_2_억_세대_수       68
아파트_가격_3_억_세대_수       68
아파트_가격_4_억_세대_수       68
아파트_가격_5_억_세대_수       68
아파트_가격_6_억_이상_세대_수    68
총_생활인구_수               0
시간대_1_생활인구_수           0
시간대_2_생활인구_수           0
시간대_3_생활인구_수           0
시간대_4_생활인구_수           0
시간대_5_생활인구_수           0
시간대_6_생활인구_수           0
월요일_생활인구_수             0
화요일_생활인구_수             0
수요일_생활인구_수             0
목요일_생활인구_수             0
금요일_생활인구_수             0
토요일_생활인구_수             0
일요일_생활인구_수             0
집객시설_수                61
관공서_수                 61
은행_수                  61
백화점_수                 61
숙박_시설_수               61
직장인구비율                 0
area                   0
면적당편의점수(10000제곱미터)     0
dtype: int64

아파트_단지_수              68
아파트_가격_1_억_미만_세대_수    68
아파트_가격_1_억_세대_수       68
아파트_가격_2_억_세대_수       68
아파트_가격_3_억_세대_수       68
아파트_가격_4_억_세대_수       68
아파트_가격_5_억_세대_수       68
아파트_가격_6_억_이상_세대_수    68
집객시설_수                61
관공서_수                 61
은행_수                  61
백화점_수                 61
숙박_시설_수               61

In [4]:
df.isnull().sum()

기준_년_코드                0
기준_분기_코드               0
상권_구분_코드_명             0
상권_코드                  0
상권_코드_명                0
점포수                    0
시간대1                   0
시간대2                   0
시간대3                   0
시간대4                   0
시간대5                   0
시간대6                   0
총 상주인구 수               0
총 가구 수                 0
총_직장인구_수               0
아파트_단지_수              68
아파트_가격_1_억_미만_세대_수    68
아파트_가격_1_억_세대_수       68
아파트_가격_2_억_세대_수       68
아파트_가격_3_억_세대_수       68
아파트_가격_4_억_세대_수       68
아파트_가격_5_억_세대_수       68
아파트_가격_6_억_이상_세대_수    68
총_생활인구_수               0
시간대_1_생활인구_수           0
시간대_2_생활인구_수           0
시간대_3_생활인구_수           0
시간대_4_생활인구_수           0
시간대_5_생활인구_수           0
시간대_6_생활인구_수           0
월요일_생활인구_수             0
화요일_생활인구_수             0
수요일_생활인구_수             0
목요일_생활인구_수             0
금요일_생활인구_수             0
토요일_생활인구_수             0
일요일_생활인구_수             0
집객시설_수                61
관공서_수                 61
은행_수                  61
백화점_수                 61
숙박_시설_수               61
직장인구비율                 0
area                   0
면적당편의점수(10000제곱미터)     0
dtype: int64

### 아파트 데이터 결측치 확인 및 처리

In [5]:
apart_missing_df = df.loc[df['아파트_단지_수'].isnull(),:]

In [6]:
apart_missing_df['상권_코드_명'].value_counts() # 상권_아파트 결측치 있는 상권코드

한국교통안전공단 강남자동차검사소    12
코엑스                  12
수서역                  12
강남개포시장               12
강남 마이스 관광특구          12
대왕초등학교(세곡동사거리서남측)     8
Name: 상권_코드_명, dtype: int64

In [7]:
df.loc[df['상권_코드_명'] == '대왕초등학교(세곡동사거리서남측)','아파트_단지_수']

33    NaN
110   NaN
188   NaN
266   NaN
344   NaN
422   NaN
500   NaN
576   NaN
Name: 아파트_단지_수, dtype: float64

대왕초등학교 결측치 : 전부 결측치(2년지 데이터에만 해당)

모든 컬럼 결측치 0으로 대체

In [8]:
df['아파트_단지_수'].fillna(0, inplace = True)
df['아파트_가격_1_억_미만_세대_수'].fillna(0, inplace = True)
df['아파트_가격_1_억_세대_수'].fillna(0, inplace = True)
df['아파트_가격_2_억_세대_수'].fillna(0, inplace = True)
df['아파트_가격_3_억_세대_수'].fillna(0, inplace = True)
df['아파트_가격_4_억_세대_수'].fillna(0, inplace = True)
df['아파트_가격_5_억_세대_수'].fillna(0, inplace = True)
df['아파트_가격_6_억_이상_세대_수'].fillna(0, inplace = True)

### 집객시설 결측치 데이터 확인 > 결측치 처리
- 집객시설_수,관공서_수,은행_수,백화점_수,숙박시설_수

In [9]:
facil_missing_df = df[df['집객시설_수'].isnull()]

In [10]:
facil_missing_df['상권_코드_명'].value_counts()

논현로18길         12
논현목련공원          9
역삼월드메르디앙아파트     9
언주역 6번          9
언주중학교           9
청담근린공원          9
국기원             4
Name: 상권_코드_명, dtype: int64

- 논현목련공원,역삼월드메르디앙아파트,언주역 6번,언주중학교,청담근린공원 > 데이터 존재 기존 데이터로 대체
- 논현로 18길 > 0

In [11]:
df.loc[df['상권_코드_명'] == '논현로18길',['집객시설_수','관공서_수','은행_수','백화점_수','숙박_시설_수']]

     집객시설_수  관공서_수  은행_수  백화점_수  숙박_시설_수
19      NaN    NaN   NaN    NaN      NaN
96      NaN    NaN   NaN    NaN      NaN
173     NaN    NaN   NaN    NaN      NaN
251     NaN    NaN   NaN    NaN      NaN
329     NaN    NaN   NaN    NaN      NaN
407     NaN    NaN   NaN    NaN      NaN
485     NaN    NaN   NaN    NaN      NaN
562     NaN    NaN   NaN    NaN      NaN
649     NaN    NaN   NaN    NaN      NaN
748     NaN    NaN   NaN    NaN      NaN
817     NaN    NaN   NaN    NaN      NaN
872     NaN    NaN   NaN    NaN      NaN

In [12]:
df.loc[df['상권_코드_명'] == '논현로18길',['집객시설_수','관공서_수','은행_수','백화점_수','숙박_시설_수']] = 0

In [13]:
df.loc[df['상권_코드_명'] == '논현목련공원',['집객시설_수','관공서_수','은행_수','백화점_수','숙박_시설_수']]

     집객시설_수  관공서_수  은행_수  백화점_수  숙박_시설_수
2       2.0    0.0   0.0    0.0      0.0
79      2.0    0.0   0.0    0.0      0.0
156     2.0    0.0   0.0    0.0      0.0
234     NaN    NaN   NaN    NaN      NaN
312     NaN    NaN   NaN    NaN      NaN
390     NaN    NaN   NaN    NaN      NaN
468     NaN    NaN   NaN    NaN      NaN
546     NaN    NaN   NaN    NaN      NaN
659     NaN    NaN   NaN    NaN      NaN
718     NaN    NaN   NaN    NaN      NaN
781     NaN    NaN   NaN    NaN      NaN
862     NaN    NaN   NaN    NaN      NaN

In [14]:
df.loc[df['상권_코드_명'] == '논현목련공원',['집객시설_수']] = 2
df.loc[df['상권_코드_명'] == '논현목련공원',['관공서_수','은행_수','백화점_수','숙박_시설_수']] = 0

In [15]:
df.loc[df['상권_코드_명'] == '역삼월드메르디앙아파트',['집객시설_수','관공서_수','은행_수','백화점_수','숙박_시설_수']]

     집객시설_수  관공서_수  은행_수  백화점_수  숙박_시설_수
10      1.0    0.0   0.0    0.0      1.0
87      1.0    0.0   0.0    0.0      1.0
164     1.0    0.0   0.0    0.0      1.0
242     NaN    NaN   NaN    NaN      NaN
320     NaN    NaN   NaN    NaN      NaN
398     NaN    NaN   NaN    NaN      NaN
476     NaN    NaN   NaN    NaN      NaN
553     NaN    NaN   NaN    NaN      NaN
620     NaN    NaN   NaN    NaN      NaN
698     NaN    NaN   NaN    NaN      NaN
794     NaN    NaN   NaN    NaN      NaN
886     NaN    NaN   NaN    NaN      NaN

In [16]:
df.loc[df['상권_코드_명'] == '역삼월드메르디앙아파트',['집객시설_수','숙박_시설_수']] = 1
df.loc[df['상권_코드_명'] == '역삼월드메르디앙아파트',['관공서_수','은행_수','백화점_수']] = 0

In [17]:
df.loc[df['상권_코드_명'] == '언주역 6번',['집객시설_수','관공서_수','은행_수','백화점_수','숙박_시설_수']]

     집객시설_수  관공서_수  은행_수  백화점_수  숙박_시설_수
11      2.0    0.0   0.0    0.0      2.0
88      2.0    0.0   0.0    0.0      2.0
165     2.0    0.0   0.0    0.0      2.0
243     NaN    NaN   NaN    NaN      NaN
321     NaN    NaN   NaN    NaN      NaN
399     NaN    NaN   NaN    NaN      NaN
477     NaN    NaN   NaN    NaN      NaN
554     NaN    NaN   NaN    NaN      NaN
635     NaN    NaN   NaN    NaN      NaN
723     NaN    NaN   NaN    NaN      NaN
787     NaN    NaN   NaN    NaN      NaN
884     NaN    NaN   NaN    NaN      NaN

In [18]:
df.loc[df['상권_코드_명'] == '언주역 6번',['집객시설_수','숙박_시설_수']] = 2
df.loc[df['상권_코드_명'] == '언주역 6번',['관공서_수','은행_수','백화점_수']] = 0

In [19]:
df.loc[df['상권_코드_명'] == '언주중학교',['집객시설_수','관공서_수','은행_수','백화점_수','숙박_시설_수']]

     집객시설_수  관공서_수  은행_수  백화점_수  숙박_시설_수
16      2.0    0.0   0.0    0.0      0.0
93      2.0    0.0   0.0    0.0      0.0
170     2.0    0.0   0.0    0.0      0.0
248     NaN    NaN   NaN    NaN      NaN
326     NaN    NaN   NaN    NaN      NaN
404     NaN    NaN   NaN    NaN      NaN
482     NaN    NaN   NaN    NaN      NaN
559     NaN    NaN   NaN    NaN      NaN
688     NaN    NaN   NaN    NaN      NaN
702     NaN    NaN   NaN    NaN      NaN
778     NaN    NaN   NaN    NaN      NaN
870     NaN    NaN   NaN    NaN      NaN

In [20]:
df.loc[df['상권_코드_명'] == '언주중학교',['집객시설_수']] = 2
df.loc[df['상권_코드_명'] == '언주중학교',['관공서_수','은행_수','백화점_수','숙박_시설_수']] = 0

In [21]:
df.loc[df['상권_코드_명'] == '청담근린공원',['집객시설_수','관공서_수','은행_수','백화점_수','숙박_시설_수']]

     집객시설_수  관공서_수  은행_수  백화점_수  숙박_시설_수
24      1.0    0.0   0.0    0.0      0.0
101     1.0    0.0   0.0    0.0      0.0
179     1.0    0.0   0.0    0.0      0.0
257     NaN    NaN   NaN    NaN      NaN
335     NaN    NaN   NaN    NaN      NaN
413     NaN    NaN   NaN    NaN      NaN
491     NaN    NaN   NaN    NaN      NaN
568     NaN    NaN   NaN    NaN      NaN
633     NaN    NaN   NaN    NaN      NaN
732     NaN    NaN   NaN    NaN      NaN
780     NaN    NaN   NaN    NaN      NaN
873     NaN    NaN   NaN    NaN      NaN

In [22]:
df.loc[df['상권_코드_명'] == '청담근린공원',['집객시설_수']] = 1
df.loc[df['상권_코드_명'] == '청담근린공원',['관공서_수','은행_수','백화점_수','숙박_시설_수']] = 0

In [23]:
df.loc[df['상권_코드_명'] == '국기원',['집객시설_수','관공서_수','은행_수','백화점_수','숙박_시설_수']]

     집객시설_수  관공서_수  은행_수  백화점_수  숙박_시설_수
3       3.0    0.0   0.0    0.0      2.0
80      3.0    0.0   0.0    0.0      2.0
157     3.0    0.0   0.0    0.0      2.0
235     NaN    NaN   NaN    NaN      NaN
313     NaN    NaN   NaN    NaN      NaN
391     NaN    NaN   NaN    NaN      NaN
469     NaN    NaN   NaN    NaN      NaN

In [24]:
df.loc[df['상권_코드_명'] == '국기원',['집객시설_수']] = 3
df.loc[df['상권_코드_명'] == '국기원',['관공서_수','은행_수','백화점_수']] = 0
df.loc[df['상권_코드_명'] == '국기원',['숙박_시설_수']]  = 2

### 2. 상권배후지_아파트 합산

#### 01. 상권배후지_아파트 데이터 불러오기

In [25]:
data = pd.read_csv('/Users/kimsinwoo/Desktop/multicampus/Project/상권배후지 raw data/상권배후지_아파트_3.csv')

In [26]:
data

,STDR_YY_CD,STDR_QU_CD,TRDAR_SE_CD,TRDAR_SE_CD_NM,TRDAR_CD,TRDAR_CD_NM,APT_HSMP_CO,AE_66_SQMT_BELO_HSHLD_CO,AE_66_SQMT_HSHLD_CO,AE_99_SQMT_HSHLD_CO,...,AE_165_SQMT_HSHLD_CO,PC_1_HDMIL_BELO_HSHLD_CO,PC_1_HDMIL_HSHLD_CO,PC_2_HDMIL_HSHLD_CO,PC_3_HDMIL_HSHLD_CO,PC_4_HDMIL_HSHLD_CO,PC_5_HDMIL_HSHLD_CO,PC_6_HDMIL_ABOVE_HSHLD_CO,AVRG_AE,AVRG_MKTC
0,2020,1,A,골목상권,2110001,이북5도청사,109.0,175.0,482.0,140.0,...,152.0,34.0,183.0,257.0,333.0,146.0,84.0,179.0,124.0,403676229.0
1,2020,2,A,골목상권,2110001,이북5도청사,109.0,175.0,482.0,140.0,...,152.0,34.0,183.0,257.0,333.0,146.0,84.0,179.0,124.0,403676229.0
2,2020,3,A,골목상권,2110001,이북5도청사,109.0,175.0,482.0,140.0,...,152.0,34.0,183.0,257.0,333.0,146.0,84.0,179.0,124.0,403676229.0
3,2020,4,A,골목상권,2110001,이북5도청사,112.0,190.0,502.0,140.0,...,152.0,28.0,161.0,243.0,390.0,129.0,102.0,198.0,123.0,425115367.0
4,2020,1,A,골목상권,2110002,독립문역 1번,9.0,180.0,1200.0,585.0,...,0.0,7.0,32.0,29.0,86.0,303.0,1165.0,375.0,90.0,509069075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13051,2022,4,A,골목상권,2111089,상일여고(상일초등학교),118.0,1223.0,1433.0,313.0,...,0.0,58.0,507.0,97.0,111.0,76.0,70.0,2050.0,55.0,319493013.0
13052,2022,1,A,골목상권,2111090,강일동주민센터,30.0,1157.0,676.0,43.0,...,0.0,0.0,0.0,0.0,459.0,124.0,578.0,715.0,70.0,569084607.0
13053,2022,2,A,골목상권,2111090,강일동주민센터,30.0,1157.0,676.0,43.0,...,0.0,0.0,0.0,0.0,459.0,124.0,578.0,715.0,70.0,569084607.0
13054,2022,3,A,골목상권,2111090,강일동주민센터,30.0,1157.0,676.0,43.0,...,0.0,0.0,0.0,0.0,459.0,124.0,578.0,715.0,70.0,569084607.0
13055,2022,4,A,골목상권,2111090,강일동주민센터,30.0,1157.0,676.0,43.0,...,0.0,0.0,0.0,0.0,459.0,124.0,578.0,715.0,70.0,569084607.0

In [27]:
data.isnull().sum() # 결측치 없음

STDR_YY_CD                   0
STDR_QU_CD                   0
TRDAR_SE_CD                  0
TRDAR_SE_CD_NM               0
TRDAR_CD                     0
TRDAR_CD_NM                  0
APT_HSMP_CO                  0
AE_66_SQMT_BELO_HSHLD_CO     0
AE_66_SQMT_HSHLD_CO          0
AE_99_SQMT_HSHLD_CO          0
AE_132_SQMT_HSHLD_CO         0
AE_165_SQMT_HSHLD_CO         0
PC_1_HDMIL_BELO_HSHLD_CO     0
PC_1_HDMIL_HSHLD_CO          0
PC_2_HDMIL_HSHLD_CO          0
PC_3_HDMIL_HSHLD_CO          0
PC_4_HDMIL_HSHLD_CO          0
PC_5_HDMIL_HSHLD_CO          0
PC_6_HDMIL_ABOVE_HSHLD_CO    0
AVRG_AE                      0
AVRG_MKTC                    0
dtype: int64

#### 02.상권역역 데이터 불러오기
- 강남구 데이터 필터링

In [28]:
base_df = pd.read_csv('/Users/kimsinwoo/Desktop/multicampus/Project/상권 raw data/상권정보_2022.csv')

In [29]:
base_df

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [30]:
gn_df = base_df[base_df['시군구_코드'] == 11680]

In [31]:
code = gn_df['상권_코드'].tolist()

In [32]:
gn_apt_df = data[data['TRDAR_CD'].isin(code)].reset_index(drop = True)

In [33]:
gn_apt_df

,STDR_YY_CD,STDR_QU_CD,TRDAR_SE_CD,TRDAR_SE_CD_NM,TRDAR_CD,TRDAR_CD_NM,APT_HSMP_CO,AE_66_SQMT_BELO_HSHLD_CO,AE_66_SQMT_HSHLD_CO,AE_99_SQMT_HSHLD_CO,...,AE_165_SQMT_HSHLD_CO,PC_1_HDMIL_BELO_HSHLD_CO,PC_1_HDMIL_HSHLD_CO,PC_2_HDMIL_HSHLD_CO,PC_3_HDMIL_HSHLD_CO,PC_4_HDMIL_HSHLD_CO,PC_5_HDMIL_HSHLD_CO,PC_6_HDMIL_ABOVE_HSHLD_CO,AVRG_AE,AVRG_MKTC
0,2020,1,A,골목상권,2110949,한남IC,57.0,418.0,807.0,505.0,...,64.0,5.0,259.0,163.0,64.0,52.0,42.0,1802.0,83.0,677600181.0
1,2020,2,A,골목상권,2110949,한남IC,57.0,418.0,807.0,505.0,...,64.0,5.0,259.0,163.0,64.0,52.0,42.0,1802.0,83.0,677600181.0
2,2020,3,A,골목상권,2110949,한남IC,57.0,418.0,807.0,505.0,...,64.0,5.0,259.0,163.0,64.0,52.0,42.0,1802.0,83.0,677600181.0
3,2020,4,A,골목상권,2110949,한남IC,78.0,429.0,807.0,505.0,...,70.0,3.0,253.0,145.0,89.0,27.0,59.0,1830.0,84.0,808005128.0
4,2020,1,A,골목상권,2110950,논현역 7번,125.0,1239.0,363.0,244.0,...,231.0,28.0,392.0,502.0,85.0,334.0,91.0,752.0,103.0,567637782.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,2022,4,A,골목상권,2111000,대왕초등학교(세곡동사거리서남측),12.0,757.0,217.0,0.0,...,0.0,0.0,0.0,0.0,43.0,102.0,161.0,668.0,62.0,672422041.0
632,2022,1,A,골목상권,2111001,아래방죽마을공원(율현초등학교),17.0,1152.0,319.0,87.0,...,0.0,0.0,0.0,2.0,41.0,288.0,109.0,1118.0,67.0,736133692.0
633,2022,2,A,골목상권,2111001,아래방죽마을공원(율현초등학교),17.0,1152.0,319.0,87.0,...,0.0,0.0,0.0,2.0,41.0,288.0,109.0,1118.0,67.0,736133692.0
634,2022,3,A,골목상권,2111001,아래방죽마을공원(율현초등학교),17.0,1152.0,319.0,87.0,...,0.0,0.0,0.0,2.0,41.0,288.0,109.0,1118.0,67.0,736133692.0
635,2022,4,A,골목상권,2111001,아래방죽마을공원(율현초등학교),17.0,1152.0,319.0,87.0,...,0.0,0.0,0.0,2.0,41.0,288.0,109.0,1118.0,67.0,736133692.0

In [34]:
apart_col = ['STDR_YY_CD','STDR_QU_CD','TRDAR_SE_CD_NM','TRDAR_CD','TRDAR_CD_NM','APT_HSMP_CO','PC_1_HDMIL_BELO_HSHLD_CO','PC_1_HDMIL_HSHLD_CO','PC_2_HDMIL_HSHLD_CO','PC_3_HDMIL_HSHLD_CO','PC_4_HDMIL_HSHLD_CO','PC_5_HDMIL_HSHLD_CO','PC_6_HDMIL_ABOVE_HSHLD_CO']
gn_apt_df = gn_apt_df.loc[:,apart_col]
data # 컬럼 선택된 데이터 프레임

,STDR_YY_CD,STDR_QU_CD,TRDAR_SE_CD,TRDAR_SE_CD_NM,TRDAR_CD,TRDAR_CD_NM,APT_HSMP_CO,AE_66_SQMT_BELO_HSHLD_CO,AE_66_SQMT_HSHLD_CO,AE_99_SQMT_HSHLD_CO,...,AE_165_SQMT_HSHLD_CO,PC_1_HDMIL_BELO_HSHLD_CO,PC_1_HDMIL_HSHLD_CO,PC_2_HDMIL_HSHLD_CO,PC_3_HDMIL_HSHLD_CO,PC_4_HDMIL_HSHLD_CO,PC_5_HDMIL_HSHLD_CO,PC_6_HDMIL_ABOVE_HSHLD_CO,AVRG_AE,AVRG_MKTC
0,2020,1,A,골목상권,2110001,이북5도청사,109.0,175.0,482.0,140.0,...,152.0,34.0,183.0,257.0,333.0,146.0,84.0,179.0,124.0,403676229.0
1,2020,2,A,골목상권,2110001,이북5도청사,109.0,175.0,482.0,140.0,...,152.0,34.0,183.0,257.0,333.0,146.0,84.0,179.0,124.0,403676229.0
2,2020,3,A,골목상권,2110001,이북5도청사,109.0,175.0,482.0,140.0,...,152.0,34.0,183.0,257.0,333.0,146.0,84.0,179.0,124.0,403676229.0
3,2020,4,A,골목상권,2110001,이북5도청사,112.0,190.0,502.0,140.0,...,152.0,28.0,161.0,243.0,390.0,129.0,102.0,198.0,123.0,425115367.0
4,2020,1,A,골목상권,2110002,독립문역 1번,9.0,180.0,1200.0,585.0,...,0.0,7.0,32.0,29.0,86.0,303.0,1165.0,375.0,90.0,509069075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13051,2022,4,A,골목상권,2111089,상일여고(상일초등학교),118.0,1223.0,1433.0,313.0,...,0.0,58.0,507.0,97.0,111.0,76.0,70.0,2050.0,55.0,319493013.0
13052,2022,1,A,골목상권,2111090,강일동주민센터,30.0,1157.0,676.0,43.0,...,0.0,0.0,0.0,0.0,459.0,124.0,578.0,715.0,70.0,569084607.0
13053,2022,2,A,골목상권,2111090,강일동주민센터,30.0,1157.0,676.0,43.0,...,0.0,0.0,0.0,0.0,459.0,124.0,578.0,715.0,70.0,569084607.0
13054,2022,3,A,골목상권,2111090,강일동주민센터,30.0,1157.0,676.0,43.0,...,0.0,0.0,0.0,0.0,459.0,124.0,578.0,715.0,70.0,569084607.0
13055,2022,4,A,골목상권,2111090,강일동주민센터,30.0,1157.0,676.0,43.0,...,0.0,0.0,0.0,0.0,459.0,124.0,578.0,715.0,70.0,569084607.0

In [35]:
apt_new_col = ['기준_년_코드','기준_분기_코드','상권_구분_코드_명','상권_코드','상권_코드_명','아파트_단지_수','아파트_가격_1_억_미만_세대_수','아파트_가격_1_억_세대_수','아파트_가격_2_억_세대_수','아파트_가격_3_억_세대_수','아파트_가격_4_억_세대_수','아파트_가격_5_억_세대_수','아파트_가격_6_억_이상_세대_수']
gn_apt_df.columns = apt_new_col

In [36]:
gn_apt_df

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수
0,2020,1,골목상권,2110949,한남IC,57.0,5.0,259.0,163.0,64.0,52.0,42.0,1802.0
1,2020,2,골목상권,2110949,한남IC,57.0,5.0,259.0,163.0,64.0,52.0,42.0,1802.0
2,2020,3,골목상권,2110949,한남IC,57.0,5.0,259.0,163.0,64.0,52.0,42.0,1802.0
3,2020,4,골목상권,2110949,한남IC,78.0,3.0,253.0,145.0,89.0,27.0,59.0,1830.0
4,2020,1,골목상권,2110950,논현역 7번,125.0,28.0,392.0,502.0,85.0,334.0,91.0,752.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,2022,4,골목상권,2111000,대왕초등학교(세곡동사거리서남측),12.0,0.0,0.0,0.0,43.0,102.0,161.0,668.0
632,2022,1,골목상권,2111001,아래방죽마을공원(율현초등학교),17.0,0.0,0.0,2.0,41.0,288.0,109.0,1118.0
633,2022,2,골목상권,2111001,아래방죽마을공원(율현초등학교),17.0,0.0,0.0,2.0,41.0,288.0,109.0,1118.0
634,2022,3,골목상권,2111001,아래방죽마을공원(율현초등학교),17.0,0.0,0.0,2.0,41.0,288.0,109.0,1118.0
635,2022,4,골목상권,2111001,아래방죽마을공원(율현초등학교),17.0,0.0,0.0,2.0,41.0,288.0,109.0,1118.0

In [37]:
merged_df = df.merge(gn_apt_df, on = ['기준_년_코드','기준_분기_코드','상권_구분_코드_명','상권_코드','상권_코드_명'],how = 'left')

In [38]:
merged_df

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,점포수,시간대1,시간대2,시간대3,시간대4,...,area,면적당편의점수(10000제곱미터),아파트_단지_수_y,아파트_가격_1_억_미만_세대_수_y,아파트_가격_1_억_세대_수_y,아파트_가격_2_억_세대_수_y,아파트_가격_3_억_세대_수_y,아파트_가격_4_억_세대_수_y,아파트_가격_5_억_세대_수_y,아파트_가격_6_억_이상_세대_수_y
0,2020,1,골목상권,2110949,한남IC,6,125163.15020,217164.87910,256343.26370,217222.53660,...,62126,0.965779,57.0,5.0,259.0,163.0,64.0,52.0,42.0,1802.0
1,2020,1,골목상권,2110951,신사은행나무공원,3,94688.22344,66467.59341,80462.01099,87369.39927,...,29000,1.034483,108.0,11.0,436.0,309.0,119.0,81.0,68.0,109.0
2,2020,1,골목상권,2110952,논현목련공원,3,177736.46150,127178.91940,105252.36630,103031.02560,...,21629,1.387027,173.0,24.0,780.0,964.0,124.0,151.0,82.0,138.0
3,2020,1,골목상권,2110954,국기원,3,34587.75458,56082.13919,74176.18681,83521.20513,...,39798,0.753807,52.0,6.0,285.0,226.0,67.0,49.0,50.0,68.0
4,2020,1,골목상권,2110955,논현초등학교,30,221061.48320,145577.44840,110301.37000,137054.14210,...,190912,1.571405,398.0,76.0,2312.0,1553.0,325.0,262.0,204.0,286.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,2022,4,골목상권,2110994,개포고등학교,3,99866.93116,247191.90940,194047.29350,154291.71010,...,61589,0.487100,72.0,0.0,58.0,99.0,91.0,42.0,12.0,1372.0
910,2022,4,발달상권,2120210,선릉역,39,303125.01420,647668.85650,560624.32720,442103.92200,...,360433,1.082032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911,2022,4,발달상권,2120188,압구정역,16,101724.46200,382494.94160,316498.13110,317926.02040,...,251745,0.635564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
912,2022,4,발달상권,2120186,가로수길,15,155169.26010,270461.51230,252058.40580,247267.85800,...,256687,0.584369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
913,2022,4,발달상권,2120198,구역삼세무서,19,233324.99030,310145.33350,302209.30150,264339.03660,...,291469,0.651870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 914 entries, 0 to 913
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   기준_년_코드               914 non-null    int64
 1   기준_분기_코드              914 non-null    int64
 2   상권_구분_코드_명            914 non-null    object
 3   상권_코드                 914 non-null    int64
 4   상권_코드_명               914 non-null    object
 5   점포수                   914 non-null    int64
 6   시간대1                  914 non-null    float64
 7   시간대2                  914 non-null    float64
 8   시간대3                  914 non-null    float64
 9   시간대4                  914 non-null    float64
 10  시간대5                  914 non-null    float64
 11  시간대6                  914 non-null    float64
 12  총 상주인구 수              914 non-null    int64
 13  총 가구 수                914 non-null    int64
 14  총_직장인구_수              914 non-null    int64
 15  아파트_단지_수_x            914 non-null    float64
 16  아파트_가격_1_억_미만_세대_수_x  914 non-null    float64
 17  아파트_가격_1_억_세대_수_x     914 non-null    float64
 18  아파트_가격_2_억_세대_수_x     914 non-null    float64
 19  아파트_가격_3_억_세대_수_x     914 non-null    float64
 20  아파트_가격_4_억_세대_수_x     914 non-null    float64
 21  아파트_가격_5_억_세대_수_x     914 non-null    float64
 22  아파트_가격_6_억_이상_세대_수_x  914 non-null    float64
 23  총_생활인구_수              914 non-null    int64
 24  시간대_1_생활인구_수          914 non-null    int64
 25  시간대_2_생활인구_수          914 non-null    int64
 26  시간대_3_생활인구_수          914 non-null    int64
 27  시간대_4_생활인구_수          914 non-null    int64
 28  시간대_5_생활인구_수          914 non-null    int64
 29  시간대_6_생활인구_수          914 non-null    int64
 30  월요일_생활인구_수            914 non-null    int64
 31  화요일_생활인구_수            914 non-null    int64
 32  수요일_생활인구_수            914 non-null    int64
 33  목요일_생활인구_수            914 non-null    int64
 34  금요일_생활인구_수            914 non-null    int64
 35  토요일_생활인구_수            914 non-null    int64
 36  일요일_생활인구_수            914 non-null    int64
 37  집객시설_수                914 non-null    float64
 38  관공서_수                 914 non-null    float64
 39  은행_수                  914 non-null    float64
 40  백화점_수                 914 non-null    float64
 41  숙박_시설_수               914 non-null    float64
 42  직장인구비율                914 non-null    float64
 43  area                  914 non-null    int64
 44  면적당편의점수(10000제곱미터)    914 non-null    float64
 45  아파트_단지_수_y            400 non-null    float64
 46  아파트_가격_1_억_미만_세대_수_y  400 non-null    float64
 47  아파트_가격_1_억_세대_수_y     400 non-null    float64
 48  아파트_가격_2_억_세대_수_y     400 non-null    float64
 49  아파트_가격_3_억_세대_수_y     400 non-null    float64
 50  아파트_가격_4_억_세대_수_y     400 non-null    float64
 51  아파트_가격_5_억_세대_수_y     400 non-null    float64
 52  아파트_가격_6_억_이상_세대_수_y  400 non-null    float64
dtypes: float64(29), int64(22), object(2)
memory usage: 385.6+ KB

In [40]:
columns_to_sum = [
    '아파트_단지_수',
    '아파트_가격_1_억_미만_세대_수',
    '아파트_가격_1_억_세대_수',
    '아파트_가격_2_억_세대_수',
    '아파트_가격_3_억_세대_수',
    '아파트_가격_4_억_세대_수',
    '아파트_가격_5_억_세대_수',
    '아파트_가격_6_억_이상_세대_수'
]

for column in columns_to_sum:
    merged_df[column] = merged_df[column + '_x'] + merged_df[column + '_y']
    merged_df[column].fillna(merged_df[column + '_x'], inplace=True)
    merged_df.drop([column + '_x', column + '_y'], axis=1, inplace=True)

In [41]:
merged_df

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,점포수,시간대1,시간대2,시간대3,시간대4,...,area,면적당편의점수(10000제곱미터),아파트_단지_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수
0,2020,1,골목상권,2110949,한남IC,6,125163.15020,217164.87910,256343.26370,217222.53660,...,62126,0.965779,62.0,5.0,264.0,180.0,72.0,62.0,49.0,1867.0
1,2020,1,골목상권,2110951,신사은행나무공원,3,94688.22344,66467.59341,80462.01099,87369.39927,...,29000,1.034483,124.0,16.0,512.0,350.0,128.0,86.0,71.0,131.0
2,2020,1,골목상권,2110952,논현목련공원,3,177736.46150,127178.91940,105252.36630,103031.02560,...,21629,1.387027,200.0,25.0,911.0,1053.0,147.0,159.0,84.0,141.0
3,2020,1,골목상권,2110954,국기원,3,34587.75458,56082.13919,74176.18681,83521.20513,...,39798,0.753807,55.0,6.0,313.0,228.0,70.0,49.0,50.0,69.0
4,2020,1,골목상권,2110955,논현초등학교,30,221061.48320,145577.44840,110301.37000,137054.14210,...,190912,1.571405,573.0,117.0,3287.0,2048.0,457.0,402.0,272.0,393.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,2022,4,골목상권,2110994,개포고등학교,3,99866.93116,247191.90940,194047.29350,154291.71010,...,61589,0.487100,128.0,0.0,116.0,198.0,182.0,84.0,24.0,1430.0
910,2022,4,발달상권,2120210,선릉역,39,303125.01420,647668.85650,560624.32720,442103.92200,...,360433,1.082032,93.0,19.0,556.0,843.0,113.0,106.0,55.0,3.0
911,2022,4,발달상권,2120188,압구정역,16,101724.46200,382494.94160,316498.13110,317926.02040,...,251745,0.635564,20.0,1.0,53.0,30.0,14.0,8.0,17.0,98.0
912,2022,4,발달상권,2120186,가로수길,15,155169.26010,270461.51230,252058.40580,247267.85800,...,256687,0.584369,62.0,0.0,154.0,140.0,109.0,74.0,49.0,97.0
913,2022,4,발달상권,2120198,구역삼세무서,19,233324.99030,310145.33350,302209.30150,264339.03660,...,291469,0.651870,140.0,31.0,745.0,693.0,171.0,109.0,105.0,130.0

In [42]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 914 entries, 0 to 913
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준_년_코드             914 non-null    int64
 1   기준_분기_코드            914 non-null    int64
 2   상권_구분_코드_명          914 non-null    object
 3   상권_코드               914 non-null    int64
 4   상권_코드_명             914 non-null    object
 5   점포수                 914 non-null    int64
 6   시간대1                914 non-null    float64
 7   시간대2                914 non-null    float64
 8   시간대3                914 non-null    float64
 9   시간대4                914 non-null    float64
 10  시간대5                914 non-null    float64
 11  시간대6                914 non-null    float64
 12  총 상주인구 수            914 non-null    int64
 13  총 가구 수              914 non-null    int64
 14  총_직장인구_수            914 non-null    int64
 15  총_생활인구_수            914 non-null    int64
 16  시간대_1_생활인구_수        914 non-null    int64
 17  시간대_2_생활인구_수        914 non-null    int64
 18  시간대_3_생활인구_수        914 non-null    int64
 19  시간대_4_생활인구_수        914 non-null    int64
 20  시간대_5_생활인구_수        914 non-null    int64
 21  시간대_6_생활인구_수        914 non-null    int64
 22  월요일_생활인구_수          914 non-null    int64
 23  화요일_생활인구_수          914 non-null    int64
 24  수요일_생활인구_수          914 non-null    int64
 25  목요일_생활인구_수          914 non-null    int64
 26  금요일_생활인구_수          914 non-null    int64
 27  토요일_생활인구_수          914 non-null    int64
 28  일요일_생활인구_수          914 non-null    int64
 29  집객시설_수              914 non-null    float64
 30  관공서_수               914 non-null    float64
 31  은행_수                914 non-null    float64
 32  백화점_수               914 non-null    float64
 33  숙박_시설_수             914 non-null    float64
 34  직장인구비율              914 non-null    float64
 35  area                914 non-null    int64
 36  면적당편의점수(10000제곱미터)  914 non-null    float64
 37  아파트_단지_수            914 non-null    float64
 38  아파트_가격_1_억_미만_세대_수  914 non-null    float64
 39  아파트_가격_1_억_세대_수     914 non-null    float64
 40  아파트_가격_2_억_세대_수     914 non-null    float64
 41  아파트_가격_3_억_세대_수     914 non-null    float64
 42  아파트_가격_4_억_세대_수     914 non-null    float64
 43  아파트_가격_5_억_세대_수     914 non-null    float64
 44  아파트_가격_6_억_이상_세대_수  914 non-null    float64
dtypes: float64(21), int64(22), object(2)
memory usage: 328.5+ KB

In [45]:
merged_df.to_csv('/Users/kimsinwoo/Desktop/multicampus/Project/결측치수정본(아파트배후지합산).csv', encoding = 'utf-8-sig')